
<form>
  {{input value=zip}}
  <button {{action 'findReps'}}>
    Find Reps
  </button>
</form>
{{#if dataService.results}}
  {{#each dataService.results as |rep|}}
    {{rep-card rep=rep}}
  {{/each}}
{{/if}}
